*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
.kotlin/
*.apk
*.aab
*.ap_
/captures
.externalNativeBuild
.cxx
local.properties
